.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.regularstarIcon,
.regularstarIcon1,
.regularstarIcon2,
.regularstarIcon3,
.regularstarIcon4 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.star {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 27px;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--body-tiny-400-size);
}
.dell215Inch,
.div1,
.div2 {
  position: relative;
  line-height: 20px;
}
.dell215Inch {
  align-self: stretch;
  color: var(--gray-900);
}
.div1,
.div2 {
  white-space: nowrap;
}
.div1 {
  align-self: stretch;
  width: 57px;
  text-decoration: line-through;
  display: none;
}
.div2 {
  font-weight: 600;
  color: var(--secondary-500);
  display: inline-block;
  min-width: 49px;
}
.content,
.price,
.product {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.price {
  flex-direction: row;
  gap: var(--gap-9xs);
  color: var(--gray-400);
}
.content,
.product {
  flex-direction: column;
}
.content {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.product {
  height: 320px;
  width: 234px;
  border-radius: var(--br-10xs);
  background-color: var(--gray-00);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
  font-family: var(--body-small-400);
}
